

appcode1=INW010
appcode9=WFM310
appCode8=AVA004

appcode2=INW010

appcode3=WPT001

IEDriverPath=.\\drivers\\IEDriverServer.exe

View2_URL=https://view2qa.regulusgroup.net/view2/Login.html

Monitor_URL=http://napdps2ias1qa.regulusgroup.net:7777/dps_monitor/Login.jsf

Hub_URL=http://192.168.1.8:4441/wd/hub

view2_username=venu.gorantla

view2_pwd=Perk@2017

monitor_user=admin
monitor_pwd=admin

dpsdb_domain=napdps2dbqa.regulusgroup.net

dpsdb_port=1521

dpsdb_name=dps2qa

dpsdb_username=u_VenuGorantla

dpsdb_pwd=sharks1