appcode1=MVC001
appcode2=INW010
appcode3=MVC010


appcode9=MVC001
appCode8=INW010


IEDriverPath=.\\drivers\\IEDriverServer.exe

View2_URL=https://view2uat.regulusgroup.com/view2/Login.html

Monitor_URL=http://monitoruat.regulusgroup.net/dps_monitor/Login.jsf

Hub_URL=http://192.168.1.8:4441/wd/hub

view2_username=venu.gorantla

view2_pwd=Perk@2017

monitor_user=admin
monitor_pwd=admin

dpsdb_domain=napdps2dbqa.regulusgroup.net

dpsdb_port=1521

dpsdb_name=dps2qa

dpsdb_username=u_VenuGorantla

dpsdb_pwd=sharks1